body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  height: 100vh;
  margin: 0;
}
ul {list-style: none; padding: 0}

.h100 {height: 100%}
.df {display: flex}
.fdr {flex-direction: row}
.fdc {flex-direction: column}
.jcsb {justify-content: space-between;}
.aic {align-items: center}
.w80 {width: 80%}
.w70 {width: 70%}
.w66 {width: 66.66666666%}
.w62 {width: 62}
.w38 {width: 38%}
.w60 {width: 60%}
.w40 {width: 40%}
.w35 {width: 35%}
.w33 {width: 33.33333333%}
.w30 {width: 30%}
.w25 {width: 25%}
.w20 {width: 20%}
.w10 {width: 10%}
.w5 {width: 5%}
.w100 {width: 100%}
.bgb {background: #2196F3}
.bgg {background: #03A9F4}
.pD {padding: 36px 24px}
.logo {width: 50%}
.npl {padding-left: 0}
.npt {padding-top: 0}
.npb {padding-bottom: 0}
.npr {padding-right: 0}
.np {padding: 0}
.p30 {padding: 30px}
.ph16 {padding: 0 16px}
.pr {position: relative;}
.pa {position: absolute;}
.underline, .u {border-bottom: 1px solid; padding-bottom: 3px}
.nbr {border-right: none}
.mb16 {margin-bottom: 16px}
.mh16 {margin: 0 16px}
.m16 {margin: 16px}
.oh {overflow: hidden}
.fwi {font-weight: initial}
h1, h2, h3, h4, h5 { margin: 0}
